button {
    background-color: #3a80b9; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

@keyframes hover {
    0% {background-color: #3a80b9;}
    100% {background-color: #6acf26;}
}

button:hover{
    background-color: #6acf26;
    animation-name:hover;
    animation-duration: .5s;
}


.buttonclicked {
    background-color: #6acf26; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
